@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:ital,wght@1,300&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background: #F6F9FC;
  color: #000;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #f88f01;
  font-size: 1.5rem;
}

.card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto;*/
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 2px 2px 5px #cecece;
}

.card-text {
  text-align: center;
}

.images-design {
  width: 250px;
  height: 155px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #cecece;
  margin: 10px;
}

.btn {
  background: #f88f01;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  color: #6a492b;
}

.card {
  width: 80%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 12px #cecece;
}

.list-inline {
  list-style: none;
}

ul {
  display: flex;
  flex-direction: row;
}

.card .fab {
  margin: 7px;
  font-size: 30px;
  background: rgba(230, 230, 230, 0.10);
  color: #6a492b;
  padding: 10px;
  border-radius: 5px;
}

.card .fab:hover {
  font-size: 32px;
  color: #f88f01;

}


@media (max-width: 575px){
  .project-wrapper {
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 575px){
  .project-wrapper {
    display: flex;
    flex-direction: column;
  }
}
